/* Polices personnalisées */
@font-face {
    font-family: 'elliotsixregular';
    src: url('ecritureenfant/ElliotSix-webfont.eot');
    src: url('ecritureenfant/ElliotSix-webfont.eot?#iefix') format('embedded-opentype'),
         url('ecritureenfant/ElliotSix-webfont.woff2') format('woff2'),
         url('ecritureenfant/ElliotSix-webfont.woff') format('woff'),
         url('ecritureenfant/ElliotSix-webfont.ttf') format('truetype'),
         url('ecritureenfant/ElliotSix-webfont.svg#elliotsixregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Header */

header
{
    background: url('separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#titre_principal
{
    display: flex;
    flex-direction: column;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#logo img
{
    width: 70px;
    height: 60px;
}
header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: 'BallparkWeiner', serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/*La Navzer*/

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-left: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #F27373;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* La base de "bazzzzz" */
 
.body
{
color: #93BFCA;
background: url('fond_bleubizar.png');
font-family: 'Trebuchet MS', Arial, sans-serif;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}
 
section h1, footer h1, nav a
{
    font-family:  serif, elliotsixregular;
    font-weight: normal;
    text-transform: uppercase;
}

tweet
{
    font-family:'elliotsixregular', Impact, 
     'Arial Narrow Bold', sans-serif;
}


/* La banniere */

#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('banniere mon chat.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
}

.bouton_rouge
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('images/fond_degraderouge.png') repeat-x;
    border: 1px solid #760000;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}
.bouton_rouge img
{
    border: 0;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: right;
    background-color: #F27373;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_monchat
{
    text-align: center;
}

#photo_monchat img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

/* Footer */

footer
{
    display: flex;
    background:  url('ico_top.png') no-repeat top center,
     url('separateur.png') repeat-x top,
      url('ombre.png') repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#listes_fans
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_fans ul
{
    list-style-image: url('ico_liensexterne.png');
    padding-left: 2px;
}

#mes_fans a
{
    text-decoration: none;
    color: #F27373;
}








